* {
  margin: 0;
  padding: 0;
}

body {
  background-color:black;
  color: rgb(0, 255, 0);;
  text-align: center;
  font-family: cursive;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 19vmin;
  width: 19vmin;
  border-radius: 1rem;
  border: 5px solid rgb(0, 255, 0);
  font-size: 8vmin;
  color: rgb(0, 255, 0);
  background-color:black;
  margin-top: 1vmin;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: black;
  color: rgb(0, 255, 0);
  border-radius: 1rem;
  border: none;
  margin-top: 2vmin;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: green;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: rgb(0, 255, 0);
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
.nv{
  font-size:5vmin;
}
.box {
  border: 2px solid rgb(0, 255, 0);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 15px rgb(0, 255, 0);
}
